<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation targetFramework="4.0" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <connectionStrings>
    <!--kunal-->
    <add name="connectionstring" connectionString="Data Source=202.46.202.42;Initial Catalog=ZIMAMIS;ID=prdzllyouth;Password=a@zU%i3" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.webServer>
    <!-- Rewrite old url to new one -->
    <rewrite>
      <rules>
        <rule name="RedirectFilmMaking" stopProcessing="true">
          <match url="^film-making.html" />
          <action type="Redirect" url="/film-making-courses.html" />
        </rule>
        <rule name="RedirectFilmDirection" stopProcessing="true">
          <match url="^direction.html" />
          <action type="Redirect" url="/film-direction-courses.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
<!--ProjectGuid: {0C255CED-21DA-4584-B1FE-548BAC726B01}-->